# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.ipynb_checkpoints/

# Colab / training outputs
training_ready/
Sepedi_Voice_Output/
lightning_logs/
*.ckpt
*.onnx
*.pt
*.pth

# Local data
sepedi_tts_dataset/
*.zip
*.wav
